<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="../static/style.css">
<head>
    <meta charset="utf-8" />
    <title>Analysis</title>
</head>

    <body>
        <div id="table" class="divScroll">
            {{ file_html|safe }}
        </div>
        <div id="notTable" class="row">
        <div class="col">
        <form action="index" method="POST">
            <label>
            Perform operation
            <select name="operation_menu">
                {% for operation_name in operations %}
                    {% if operation_name == chosen_operation %}
                    <option value="{{ operation_name }}" selected>
                        {{ operation_name }}
                    </option>
                    {% else %}
                    <option value="{{ operation_name }}">
                        {{ operation_name }}
                    </option>
                    {% endif %}
                {% endfor %}
            </select>
            </label>
            <label>
            on column
                <select name="column_menu" value={{ chosen_column }}>
                    {% for column_name in column_names %}
                        {% if column_name == chosen_column %}
                        <option value="{{ column_name }}" selected>
                            {{ column_name }}
                        </option>
                        {% else %}
                        <option value="{{ column_name }}">
                            {{ column_name }}
                        </option>
                        {% endif %}
                    {% endfor %}
                </select>
            </label>
            <input id="submit" class="btn btn-primary" type="submit" value="Submit">
        </form>
        </div>
            <div id="buttonCol" class="col">
                <form action="{{ url_for('upload') }}">
                    <button id="back" class="btn btn-primary" action="{{ url_for('upload') }}">
                        Upload Another File
                    </button>
                </form>
            </div>
        </div>
        {% if error %}
            <p style="color: red; padding-left: 20px; align-self: center">{{ result|safe }}</p>
        {% else %}
            <p style="color: black; padding-left: 20px">{{ result|safe }}</p>
        {% endif %}
    </body>
</html>