<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="../static/style.css">
<head>
    <meta charset="utf-8" />
    <title></title>
</head>

    <body>
        <div class="divScroll">
            {{ file_html|safe }}
        </div>
        <div>
        <form action="index" method="POST">
            <label style="font-size: 18px">
            Perform operation
            <select name="operation_menu">
                {% for operation_name in operations %}
                    <option value="{{ operation_name }}">{{ operation_name }}</option>
                {% endfor %}
            </select>
            </label>
            <label style="font-size: 18px">
            on column
                <select name="column_menu">
                    {% for column_name in column_names %}
                    <option value="{{ column_name }}">{{ column_name }}</option>
                    {% endfor %}
                </select>
            </label>

                <input class="btn btn-primary" type="submit" value="Submit">
        </form>
        {% if error %}
            <p style="color: red; font-size: 18px">{{ result }}</p>
        {% else %}
            <p style="color: black; font-size: 18px">{{ result }}</p>
        {% endif %}
        </div>
    </body>
</html>