<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
<link rel="stylesheet" type="text/css" href="../static/style.css">

<head>
    <title>File Upload</title>
</head>

<body>
    <div class="d-flex align-items-center justify-content-center" style="height: 400px">
        <div class="container">
            <div class="row">
                <div class="col-md-2"></div>
                <div class="col-md-2"></div>

                <div class="col-md-4">
                    <form action="upload" method="POST" enctype="multipart/form-data">
                        <div class="input-group mb-3">
                            <input type="file" name="file" class="form-control" id="file">
                            <label class="input-group-text" for="file" id="uploadLabel">Upload</label>
                        </div>
                        <div class="d-flex justify-content-center">
                            <input class="btn btn-primary" type="submit" value="asdsdfsd"><br>
                        </div>
                        <div class="d-flex justify-content-center">
                            {% with messages = get_flashed_messages() %}
                                {% if messages %}
                                    {% for message in messages %}
                                        <p style="color: red; font-size: 18px;">
                                            {{ message }}
                                        </p>
                                    {% endfor %}
                                {% endif %}
                            {% endwith %}
                        </div>
                    </form>
                </div>

                <div class="col-md-2"></div>
                <div class="col-md-2"></div>
                <div class="col-md-1"></div>
            </div>
        </div>
    </div>
</body>

<!-- jQuery library -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<!-- Popper JS -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
<!-- Latest compiled JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
